.form {
  max-width: 1000px;
  margin: auto;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-wrap: wrap;
}

.form__header {
  margin: 15px;
}

.form__fieldset {
  background-color: #ffffff;
  color: #222;
  font-family: "Lato", sans-serif;
  margin-top: 5px;
  border: none;
  outline: 1px solid #eaeaea;
}

.form__fieldset--legend {
  background-color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 18px;
  margin-left: 15px;
  color: #222;
}

.form__legend--star {
  color: red;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.form__label {
  margin-top: 10px;
  margin-right: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  margin-bottom: 10px;
  display: flex;
  justify-items: left;
  align-items: center;
}

.form__input {
  padding: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  background-color: #ffffff;
  border: 1px solid #c7c7c7;
  margin-top: 10px;
  max-width: 600px;
  width: 100%;
  align-self: center;
  margin-right: 15px;
}
