.form {
  max-width: 1000px;
  margin: auto;
  font-family: "Lato", sans-serif;
  display: grid;
  grid-template-columns: 1fr auto;
  flex-wrap: wrap;
}

.form__fieldset {
  background-color: #ffffff;
  color: #222;
  font-family: "Lato", sans-serif;
  margin-top: 5px;
  border: none;
  outline: 1px solid #eaeaea;
  display: grid;
}

.form__fieldset--legend {
  background-color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 18px;
  margin-left: 15px;
  color: #222;
}

.form__label {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  display: grid;
  align-content: center;
  grid-gap: 10px;
}

.form__input {
  padding: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  background-color: #ffffff;
  border: 1px solid #c7c7c7;
  max-width: 800px;
  width: 100%;
  align-self: center;
  margin-right: 5px;
}
